.main__training {
  margin: 0 auto;
}

.main__gallery {
  margin: 0 auto;
}

.main__advantages {
  margin: -4px auto 0;
}

@media (min-width: $tablet-width) {
  .main__advantages {
    margin-top: 0;
  }
}
