.reviews-card {
  width: 290px;
}

.reviews-card__wrapper {
  outline: 1px solid $white;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  background-color: $white;
  padding: 20px;
  width: 290px;
  min-height: 484px;

  &:focus,
  &:focus-visible {
    box-shadow: 0 0 10px 0 rgba(28, 51, 116, 0.5);
  }
}

.reviews-card__img {
  display: block;
}

.reviews-card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}

.reviews-card__img-wrapper {
  margin-bottom: 20px;
}

.reviews-card__name {
  margin: 5px 0 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.reviews-card__age {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  margin-top: -2px;
}

@media (min-width: $tablet-width) {
  .reviews-card__wrapper {
    width: 565px;
    min-height: 277px;
    padding: 20px 30px 20px 20px;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .reviews-card__img-wrapper {
    width: 186px;
    margin-bottom: unset;
  }

  .reviews-card__text-wrapper {
    width: 299px;
    gap: 6px;

    p {
      padding-top: 4px;
    }
  }

  .reviews-card__name {
    font-size: 13px;
    line-height: 13px;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .reviews-card__wrapper {
    width: 700px;
    padding: 19px 38px 20px 21px;
  }

  .reviews-card__text-wrapper {
    width: 352px;
    gap: 10px;

    p {
      font-size: 14px;
      line-height: 22px;
      padding-top: unset;
      margin-top: -1px;
    }
  }

  .reviews-card__img-wrapper {
    width: 258px;
  }

  .reviews-card__name {
    margin-top: -6px;
  }
}
