.training-card {
  outline: 1px solid $additional;
  outline-offset: -1px;
  width: 290px;
  padding: 15px;
  background-color: $white;
  min-height: 356px;
}

.training-card__img {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.training-card__img-wrapper {
  margin-bottom: 16px;
  height: 200px;
  outline: none;
  transition: transform 0.4s ease;

  &:focus img,
  &:focus-visible img {
    transform: scale(1.02);
    transition: transform 0.4s ease;
  }
}

.training-card__text {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 184px;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    width: 100%;
  }
}

.training-card__link {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;

  &::before {
    width: 14px;
    height: 8px;
    mask-size: 14px 8px;
    top: 7px;
    left: 5px;
  }
}

@media (min-width: $tablet-width) {
  .training-card {
    width: 212px;
    padding: 15px;
    min-height: 388px;
  }

  .training-card__text {
    h3 {
      width: 174px;
    }
  }
}

@media (min-width: $desktop-width) {
  .training-card {
    width: 285px;
    min-height: 356px;
  }

  .training-card__text {
    gap: 14px 15px;

    h3 {
      width: 145px;
    }
  }

  .training-card__link {
    top: -1px;

    &::before {
      top: 8px;
    }
  }
}
